.idea/
skill_abc_project/configs/__pycache__/
skill_abc_project/skill_abc_admin/__pycache__/
skill_abc_project/skill_abc_admin/migrations/__pycache__/
skill_abc_project/wow_skills/__pycache__/
skill_abc_project/wow_skills/migrations/__pycache__/
