<!DOCTYPE html>
<html lang="en">
<head>
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% block title %}wow skills{% endblock %}</title>
    {% block local_css %}
    {% endblock %}
</head>
<body>

{% block navbar %}
{% endblock %}
<div id="debug_toolbar" style="position: fixed;;top:0;font-size:13px;background:#fe4e65;background-color:#fe4e65;color:#ffffff;width:100%;left:0;z-index:1500"></div>
<footer>
</footer>

{% block footer %}
{% endblock %}

{% block local_js_footer %}
{% endblock %}

</body>
</html>