{% extends "wow_skills_base.html" %}

{% load static_url %}
{% block local_css %}

<style type="text/css">
    .skill_images_wrapper{

    }
    .skill_images_wrapper > img{
        cursor: grab;
    }
    .skill_description_wrapper{
        width:100%;
        max-width:350px;
        padding:10px;
        border-radius:5px;
        border:1px solid #f5f2f3;
        background-color:#161721d9;
        color:#ffffff;
        font-weight:500;
        font-size:14px;
        box-sizing:border-box
    }
    .skill_description_image_extracted{
        cursor: grab;
    }
    .skill_description_image_extracted{
        width: 100%;
        max-width: 350px;
    }

    .skill_description_wrapper_hover{
        position:absolute;
        bottom: 0;
        right:40px;
        z-index: 1000;
    }
</style>
{% endblock %}

{% block top_right %}
<button style="float: right;border:0;" onclick="location.href='/wow_skills/admin/'">참여</button>
{% endblock %} 

{% block content %}
<div id="search_tool_wrap" style="display:flex;height:40px;">
    <form action="{% url 'wow_skills:get_wow_skill_info' %}" name="get_wow_skill_info" id="form_get_wow_skill_info" method="get" style="display: flex;width:100%;">
        {% csrf_token %}
        <input type="hidden" name="search_type" value="name">
        <div style="flex:1 1 0;height:100%">
            <input type="text" name="search_val" style="width:100%;height:100%;box-sizing: border-box;font-size:18px;font-weight:500" placeholder="검색어 입력">
        </div>
        <div style="flex-basis:110px;height:100%;text-align:right;">
            <button style="height:100%;" onclick="search(event);">검색</button>
            <button style="height:100%;" onclick="init(event)">초기화</button>
        </div>
    </form>
</div>

<div id="result_display_wrap" style="margin-top: 50px;">
    <div class="result_row">
        <!-- <div>
            <img src="" id="skill_small_img">
            <img src="" id="skill_medium_img">
            <img src="" id="skill_large_img">
        </div>
        <div id="description_wrapper" style="display: inline-block;">
        </div>
        <div id="description_wrapper_img">
        </div> -->
    </div>
</div>
{% endblock %}

{% block local_js_footer %}
    <script>

    function init(e){
        e.preventDefault();
        e.stopPropagation();
        location.reload();
    }

    function search(e){
        e.stopPropagation();
        e.preventDefault();
        $.ajax({
            url: '/wow_skills/get_wow_skill_info/',
            data: $('#form_get_wow_skill_info').serialize(),
            dataType: 'json',
            type: 'GET',

            beforeSend: function () {
                loading_image('ON');
            },

            success: function (data) {
                console.log(data)
                if(Object.keys(data).length == 0){
                    $('#skill_icon_img').attr('src', '');
                    alert('blizzard api에 없는 skill 입니다.');
                    return;
                }
                let html = '';
                let wow_skill_data = data.wow_skill;
                let length = wow_skill_data.length;

                if(length == 0){
                    alert("데이터가 없습니다.");
                    loading_image("OFF");
                }

                if(length > 1){
                    for(let i=0; i<wow_skill_data.length; i++){
                        html += dom_skill_simple(wow_skill_data[i]);
                    }
                }else{
                    html = dom_skill(wow_skill_data[0]);
                }

                $('#result_display_wrap .result_row').html(html);
            },

            complete: function () {
                loading_image('OFF');
            },

            error: function () {
            }
        });
    }

    function dom_skill_simple(data){
        let skill_image_medium = data.wow_medium_img_url;
        let skill_id = data.wow_skill_id;
        let skill_name = data.wow_skill_name;
        let skill_cost = data.wow_power_cost;
        let skill_cast_time = data.wow_cast_time;
        let skill_class_name = data.wow_class_name;
        let skill_specialize = data.wow_specialize_name;
        let skill_cool_down = data.wow_cool_down;
        let skill_range = data.wow_range;
        let skill_description = data.wow_description;
        let skill_use_class = data.wow_class_name;
        let skill_use_specialize = data.wow_specialize_name;

        let html = `<div id="skill_simple_${skill_id}" style="height:40px;font-size:14px;font-weight:500;position:relative;cursor:pointer">
                        <img id="skill_simple_image_${skill_id}" src="${skill_image_medium}" style="vertical-align:middle;cursor:pointer;">
                        <span style="vertical-align:middle">${skill_name} - ${skill_use_class}(${skill_use_specialize}) - id:${skill_id}</span>
                    </div>`;

        let hover = `
                    <div id="skill_description_${skill_id}" class="skill_description_wrapper skill_description_wrapper_hover">
                        <div style="display:flex;margin-top:3px;">
                            <div style="flex:1 1 0">${skill_name}</div>
                            <div style="flex:1 1 0;text-align:right;color:${class_color[skill_use_class]}">${skill_use_class}(${skill_use_specialize})</div>
                        </div>
                        <div style="display:flex;margin-top:3px;">
                            ${skill_cost == undefined ? "" : '<div style="flex:1 1 0">'+skill_cost+'</div>'}
                            ${skill_range == undefined ? "" : '<div style="flex:1 1 0;text-align:right;">'+skill_range+'</div>'}
                        </div>
                        <div style="display:flex;margin-top:3px;">
                            ${skill_cast_time == undefined ? "" : '<div style="flex:1 1 0">'+skill_cast_time+'</div>'}
                            ${skill_cool_down == undefined ? "" : '<div style="flex:1 1 0;text-align:right;">'+skill_cool_down+'</div>'}
                        </div>
                        <div style="margin-top:10px;color:#edb31c;">
                            ${skill_description == undefined ? "" : skill_description}
                        </div>
                    </div>`;

        $(document).off('mouseenter', `#skill_simple_image_${skill_id}`).on('mouseenter', `#skill_simple_image_${skill_id}`, function(e){
            e.stopPropagation();
            $('.skill_description_wrapper_hover').remove();
            $(`#skill_simple_${skill_id}`).append(hover);
        });

        $(document).off('mouseout', `#skill_simple_image_${skill_id}`).on('mouseout', `#skill_simple_image_${skill_id}`, function(e){
            e.stopPropagation();
            $('.skill_description_wrapper_hover').remove();
        });

        $(document).off('click', `#skill_simple_${skill_id}`).on('click', `#skill_simple_${skill_id}`, function(e){
            $(this).off('mouseout').off('mouseenter');
            let html = dom_skill(data);
            $('#result_display_wrap .result_row').html(html);
        });

        return html;
    }

    function dom_skill(data){

        let skill_image_small = data.wow_small_img_url;
        let skill_image_medium = data.wow_medium_img_url;
        let skill_image_large = data.wow_large_img_url;

        let skill_id = data.wow_skill_id;
        let skill_name = data.wow_skill_name;
        let skill_cost = data.wow_power_cost;
        let skill_cast_time = data.wow_cast_time;
        let skill_class_name = data.wow_class_name;
        let skill_specialize = data.wow_specialize_name;
        let skill_cool_down = data.wow_cool_down;
        let skill_range = data.wow_range;
        let skill_description = data.wow_description;
        let skill_use_class = data.wow_class_name;
        let skill_use_specialize = data.wow_specialize_name;

        let images = `<div class="skill_images_wrapper">
                        <img src="${skill_image_small}" title="${skill_name}">
                        <img src="${skill_image_medium}" title="${skill_name}">
                        <img src="${skill_image_large}" title="${skill_name}">
                      </div>`;
        let description = 
                    `
                    <div id="skill_description_${skill_id}" class="skill_description_wrapper">
                        <div style="display:flex;margin-top:3px;">
                            <div style="flex:1 1 0">${skill_name}</div>
                            <div style="flex:1 1 0;text-align:right;color:${class_color[skill_use_class]}">${skill_use_class}(${skill_use_specialize})</div>
                        </div>
                        <div style="display:flex;margin-top:3px;">
                            ${skill_cost == undefined ? "" : '<div style="flex:1 1 0">'+skill_cost+'</div>'}
                            ${skill_range == undefined ? "" : '<div style="flex:1 1 0;text-align:right;">'+skill_range+'</div>'}
                        </div>
                        <div style="display:flex;margin-top:3px;">
                            ${skill_cast_time == undefined ? "" : '<div style="flex:1 1 0">'+skill_cast_time+'</div>'}
                            ${skill_cool_down == undefined ? "" : '<div style="flex:1 1 0;text-align:right;">'+skill_cool_down+'</div>'}
                        </div>
                        <div style="margin-top:10px;color:#edb31c;">
                            ${skill_description == undefined ? "" : skill_description}
                        </div>
                    </div>`;
        let description_image = 
                    `<div id="skill_description_image_${skill_id}"></div>`;

        let extract_button = 
                    `<button type="button" id="skill_description_to_image_${skill_id}" style="height:35px;">스킬 설명을 이미지 파일로</button>`;

        let html = `<div id="skill_${skill_id}">` + images + description + extract_button + description_image +'</div>';

        $(document).off('click', `#skill_description_to_image_${skill_id}`).on('click', `#skill_description_to_image_${skill_id}`, ()=>{
            loading_image('ON');
            var useHeight = $('body').prop('scrollHeight');
            html2canvas(document.querySelector(`#skill_description_${skill_id}`)).then(canvas => {                     
                let image_src = canvas.toDataURL("image/jpeg");
                document.querySelector(`#skill_description_image_${skill_id}`).innerHTML = `<img src="${image_src}" class="skill_description_image_extracted" title="${skill_name}">`;
                loading_image('OFF');
                $(`#skill_description_to_image_${skill_id}`).remove();
            }); 
        });
        return html;
    }

    </script>
{% endblock %}