{% extends "wow_skills_base.html" %}

{% load static_url %}
{% block local_css %}
{% endblock %}

{% block content %}
<div id="search_tool_wrap" style="display:flex;height:40px;">
    <div style="flex:1 1 0;padding-right:20px;height:100%">
        <input type="text" style="width:100%;height:100%;box-sizing: border-box;font-size:18px;font-weight:500">
    </div>
    <div style="flex-basis:110px;height:100%">
        <button style="height:100%;">검색</button>
        <button style="height:100%;">전체</button>
    </div>
</div>

<div id="result_display_wrap">

</div>
{% endblock %}

{% block local_js_footer %}
{% endblock %}