{% extends "wow_skills_base.html" %}

{% load static_url %}
{% block local_css %}
{% endblock %}

{% block top_right %}
<button style="float: right;border:0;" onclick="location.href='/wow_skills/'">나가기</button>
{% endblock %}    

{% block content %}
<div id="search_tool_wrap" style="display:flex;height:40px;">
    <form action="{% url 'wow_skills:get_wow_skill_info_from_blizzard' %}" name="get_wow_skill_info" id="form_get_wow_skill_info" method="get" style="display: flex;width:100%;">
        {% csrf_token %}
        <div style="flex:1 1 0;height:100%">
            <input type="text" name="skill_id" style="width:100%;height:100%;box-sizing: border-box;font-size:18px;font-weight:500" placeholder="스킬 ID 입력">
        </div>
        <div style="flex-basis:110px;height:100%;text-align:right;">
            <button style="height:100%;" onclick="search_admin(event);">검색</button>
            <button style="height:100%;" onclick="init_admin(event)">초기화</button>
        </div>
    </form>
</div>

<div id="result_display_wrap" style="margin-top: 50px;">
    <div class="result_row">
        <form action="{% url 'wow_skills:add_wow_skill_info' %}" name="get_wow_skill_info" id="form_room" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--<img src="https://wow.zamimg.com/images/wow/icons/large/spell_shadow_ritualofsacrifice.jpg" alt="" style="vertical-align: middle;">
            <span style="vertical-align: middle;">사악한 일격</span>-->
            <div class="skill_info_row">
                <input type="text" name="classes" id="classes" hidden>
                <input type="text" name="specialize" id="specialize" hidden>
                <select onchange="fill_jobs_admin(this);" id="info_jobs" style="">

                </select>
                <select onchange="fill_specialize_admin(this);" id="info_specialize">
                    
                </select>
            </div>
            <div class="skill_info_row">
                <div class="skill_info_title">아이콘</div>
                <div id="skill_icon_wrapper">
                    <img src="" id="skill_icon_img_small">
                    <img src="" id="skill_icon_img_medium">
                    <img src="" id="skill_icon_img_large">
                </div>
            </div>
            <div class="skill_info_row">
                <div class="skill_info_title">ID</div>
                <div class="skill_info_content"><input type="text" name="skill_id" id="skill_id" disabled="true"></div>
            </div>
            <div class="skill_info_row">
                <div class="skill_info_title">스킬명</div>
                <div class="skill_info_content"><input type="text" name="skill_name" id="skill_name" disabled="true"></div>
            </div>
            <div class="skill_info_row">
                <div class="skill_info_title">아이콘</div>
                <div class="skill_info_content"><input type="text" name="skill_icon" id="skill_icon" disabled="true"></div>
            </div>
            <div class="skill_info_row">
                <div class="skill_info_title">설명</div>
                <div class="skill_info_content"><textarea type="text" name="skill_description" id="skill_description" disabled="true"></textarea></div>
            </div>
            <div class="skill_info_row">
                <div class="skill_info_title">시전시간</div>
                <div class="skill_info_content"><input type="text" name="skill_cast_time" id="skill_cast_time" disabled="true"></div>
            </div>
            <div class="skill_info_row">
                <div class="skill_info_title">마나/기력/분노..</div>
                <div class="skill_info_content"><input type="text" name="skill_power_cost" id="skill_power_cost" disabled="true"></div>
            </div>
            <div class="skill_info_row">
                <div class="skill_info_title">사정거리</div>
                <div class="skill_info_content"><input type="text" name="skill_range" id="skill_range" disabled="true"></div>
            </div>
            <div class="skill_info_row">
                <div class="skill_info_title">쿨다운</div>
                <div class="skill_info_content"><input type="text" name="skill_cool_down" id="skill_cool_down" disabled="true"></div>
            </div>
            <button id="add_wow_skill_form_submit">등록</button>
        </form>
    </div>
</div>
{% endblock %}

{% block local_js_footer %}
    <script>


    function init_admin(e){
        e.preventDefault();
        e.stopPropagation();
        location.reload();
    }

    function search_admin(e){
        e.stopPropagation();
        e.preventDefault();
        $.ajax({
            url: '/wow_skills/get_wow_skill_info_from_blizzard/',
            data: $('#form_get_wow_skill_info').serialize(),
            dataType: 'json',
            type: 'GET',

            beforeSend: function () {
                $('#skill_id').val('');
                $('#skill_name').val('');
                $('#skill_icon').val('');
                $('#skill_description').val('');
                $('#skill_cast_time').val('');
                $('#skill_power_cost').val('');
                $('#skill_range').val('');
                $('#skill_cool_down').val('');
                $('#skill_icon_img').attr('src', '');
            },

            success: function (data) {
                if(Object.keys(data).length == 0){
                    $('#skill_icon_img').attr('src', '');
                    alert('blizzard api에 없는 skill 입니다.');
                    return;
                }
                $('input, textarea').attr("disabled", false);
                $('#skill_id').val(data.id);
                $('#skill_name').val(data.name);
                $('#skill_icon').val(data.icon);
                $('#skill_description').val(data.description);
                $('#skill_cast_time').val(data.castTime);
                $('#skill_power_cost').val(data.powerCost);
                $('#skill_range').val(data.range);
                $('#skill_cool_down').val(data.cooldown);
                // $('#skill_icon_img').attr('src', 'https://wow.zamimg.com/images/wow/icons/large/'+data.icon+'.jpg');
                $('#skill_icon_img_small').attr({'src': 'https://wow.zamimg.com/images/wow/icons/small/'+data.icon+'.jpg', "title":data.id});
                $('#skill_icon_img_medium').attr({'src': 'https://wow.zamimg.com/images/wow/icons/medium/'+data.icon+'.jpg', "title":data.id});
                $('#skill_icon_img_large').attr({'src': 'https://wow.zamimg.com/images/wow/icons/large/'+data.icon+'.jpg', "title":data.id});


                let jobs = ['<option value="none" disabled selected>클래스 선택</option>'];
                for(let item in wow_classes_tree["kr"]){
                    jobs.push(
                            `<option value="${item}">${item}</div>`
                        );
                }
                $('#info_jobs').html(jobs.join(""));
                
            },

            complete: function () {
            },

            error: function () {
            }
        });
    }

    function fill_jobs_admin(context){
        let selected_job = $(context).val();
        let specializes = ['<option value="none" disabled selected>전문화 선택</option>'];
        for(let i=0; i<wow_classes_tree["kr"][selected_job].length; i++){
            specializes.push(
                `<option value="${wow_classes_tree["kr"][selected_job][i]}">${wow_classes_tree["kr"][selected_job][i]}</div>`
            );
        }
        $('#info_specialize').html(specializes.join(""));
        $('#classes').val(selected_job);
    }

    function fill_specialize_admin(context){
        let selected_specialize = $(context).val();
        $('#specialize').val(selected_specialize);
    }

    </script>
{% endblock %}