{% extends "wow_skills_base.html" %}

{% load static_url %}
{% block local_css %}
{% endblock %}

{% block content %}
<div id="search_tool_wrap" style="display:flex;height:40px;">
    <form action="{% url 'wow_skills:get_wow_skill_info' %}" name="get_wow_skill_info" id="form_get_wow_skill_info" method="get">
        {% csrf_token %}
        <div style="flex:1 1 0;padding-right:20px;height:100%">
            <input type="text" name="skill_id" style="width:100%;height:100%;box-sizing: border-box;font-size:18px;font-weight:500">
        </div>
        <div style="flex-basis:110px;height:100%">
            <button id="form_submit" style="height:100%;">검색</button>
            <button style="height:100%;">초기화</button>
        </div>
    </form>
</div>

<div id="result_display_wrap" style="margin-top: 50px;">
    <div class="result_row">
        <!--<img src="https://wow.zamimg.com/images/wow/icons/large/spell_shadow_ritualofsacrifice.jpg" alt="" style="vertical-align: middle;">
        <span style="vertical-align: middle;">사악한 일격</span>-->
        <div>
            <img src="" id="skill_icon_img">
        </div>
        <div>
            skill_id : <span id="skill_id"></span>
        </div>
        <div>
            name : <span id="skill_name"></span>
        </div>
        <div>
            icon : <span id="skill_icon"></span>
        </div>
        <div>
            description : <span id="skill_description"></span>
        </div>
        <div>
            castTime : <span id="skill_cast_time"></span>
        </div>
        <div>
            powerCost : <span id="skill_power_cost"></span>
        </div>
        <div>
            range : <span id="skill_range"></span>
        </div>
        <div>
            cooldown : <span id="skill_cool_down"></span>
        </div>
    </div>
</div>
{% endblock %}

{% block local_js_footer %}
    <script>

    $('#form_submit').click(function(e) {
        e.stopPropagation();
        e.preventDefault();
        $.ajax({
            url: '/wow_skills/get_wow_skill_info/',
            data: $('#form_get_wow_skill_info').serialize(),
            dataType: 'json',
            type: 'GET',

            beforeSend: function () {
                $('#skill_id').text('');
                $('#skill_name').text('');
                $('#skill_icon').text('');
                $('#skill_description').text('');
                $('#skill_cast_time').text('');
                $('#skill_power_cost').text('');
                $('#skill_range').text('');
                $('#skill_cool_down').text('');
                $('#skill_icon_img').attr('src', '');
            },

            success: function (data) {
                console.log(data);
                console.log(data.powerCost);
                $('#skill_id').text(data.id);
                $('#skill_name').text(data.name);
                $('#skill_icon').text(data.icon);
                $('#skill_description').text(data.description);
                $('#skill_cast_time').text(data.castTime);
                $('#skill_power_cost').text(data.powerCost);
                $('#skill_range').text(data.range);
                $('#skill_cool_down').text(data.cooldown);
                $('#skill_icon_img').attr('src', 'https://wow.zamimg.com/images/wow/icons/large/'+data.icon+'.jpg');
                if(Object.keys(data).length == 0){
                    $('#skill_icon_img').attr('src', '');
                    alert('blizzard api에 없는 skill 입니다.');
                }
            },

            complete: function () {
            },

            error: function () {
            }
        });
    });

    </script>
{% endblock %}