<!DOCTYPE html>
<html lang="en" class="skillabc_dark_mode">
<head>
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% block title %}wow skills{% endblock %}</title>
    {% block local_css %}
    {% endblock %}
    <link rel="stylesheet" href={% static_url "user/css/base.css" %}>
</head>
<body>

<div style="font-size:32px;font-weight:900">
    WOW 스킬
    <span style="color:#fe4e65">A</span><span style="color: blue;">B</span><span style="color: forestgreen;">C</span>
</div>

{% block content %}
{% endblock %}

<footer>
</footer>

{% block footer %}
{% endblock %}

{% block local_js_footer %}
{% endblock %}

</body>
</html>