<!DOCTYPE html>
<html lang="en" class="skillabc_light_mode">
<head>
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% block title %}wow skills{% endblock %}</title>
    {% block local_css %}
    {% endblock %}
    <script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/html2canvas.min.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/base.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/const.js" %}></script>
    <link rel="stylesheet" href={% static_url "user/css/base.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/admin.css" %}>
    <style type="text/css">
        #skillabc_logo{
            cursor: pointer;
        }
        #loading_image{
            display: none;
            background-color: rgba(0, 0, 0, 0.75);
            padding: 20px;
            border-radius: 10px;
            color: #ffffff;
        }
    </style>
</head>
<body>
<div id="loading_image" style="position: fixed;top:50%;left:50%;transform: translate(-50%, -50%);text-align: center;">
    <img src="{% static_url "common/res/loading.gif" %}" style="width: 40px;height: 40px;">
    <div style="font-size:13px;font-weight: 500;">
        데이터를 처리 중입니다...<br>
        잠시만 기다려주세요.
    </div>
</div>


<div style="font-size:32px;font-weight:900">
    <span onclick="location.href='/wow_skills/'" id="skillabc_logo" alt="skill abc logo">
        WOW 스킬
        <span style="color:#fe4e65">A</span><span style="color: cornflowerblue;">B</span><span style="color: forestgreen;">C</span>
    </span>
    {% block top_right %}
    {% endblock %}
</div>

{% block content %}
{% endblock %}
<footer>
</footer>

{% block footer %}
{% endblock %}

{% block local_js_footer %}
{% endblock %}
<script type="text/javascript">
    function loading_image(on_off){
        switch(on_off){
            case "ON":
                $('#loading_image').show();
            break;
            case "OFF":
                $('#loading_image').hide();
            break;
        }
    }
</script>

</body>
</html>