<!DOCTYPE html>
<html lang="en" class="skillabc_light_mode">
<head>
    {% load static_url %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% block title %}wow skills{% endblock %}</title>
    {% block local_css %}
    {% endblock %}
    <script type="text/javascript" src={% static_url "common/js/jquery.1.12.4.min.js" %}></script>
    <script type="text/javascript" src={% static_url "common/js/jquery-ui.1.12.1.min.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/const.js" %}></script>
    <link rel="stylesheet" href={% static_url "user/css/base.css" %}>
    <link rel="stylesheet" href={% static_url "user/css/admin.css" %}>
</head>
<body>

<div style="font-size:32px;font-weight:900">
    WOW 스킬
    <span style="color:#fe4e65">A</span><span style="color: cornflowerblue;">B</span><span style="color: forestgreen;">C</span>
    {% block top_right %}
    {% endblock %}
</div>

{% block content %}
{% endblock %}
<footer>
</footer>

{% block footer %}
{% endblock %}

{% block local_js_footer %}
{% endblock %}

</body>
</html>